apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cappy-app-shared-pvc
  labels:
    app.kubernetes.io/name: cappy-app
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.pvc.storage }}